{% extends "base.html" %}
{% load static%}
{% block content %} 

<div class="row my-5">

    <div class="col-12 d-flex justify-content-center align-item-center">
        <div class="circular-image-container">
            <img class= "circular-image" src="{% static 'images/photo4.jpg' %}" alt="image">
        </div>
    </div>

    <div class="col-12 text-center mt-3">

        <h4 class="title">Hello, My name is </h4>
        
        <div class="name">
        <h1>Hrutika Suryawanshi</h1>
        
        </div>

    </div>
    
    <div class="col-12 text-center mt-3">
        <div class="col-12 d-flex justify-content-center align-item-center">

            <a href="https://www.linkedin.com/in/hrutika-suryawanshi-r249/" target="_blank" class="ms-3">
                <img src="{% static 'images/linkedIn-image.png' %}" alt="LinkedIn" width="50" height="50" class="social_links">
            </a>
        
            <a href="https://github.com/hrutikas2002/" target="_blank" class="ms-3">
                <img src="{% static 'images/github-image.png' %}" alt="GitHub" width="50" height="50" class="social_links">
            </a>

        </div>

    </div>
    
</div>
{% endblock content %}